$tipografia: 'Montserrat', sans-serif;

body{
    font-family: $tipografia;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li{
    display: inline;
    color: white;
    margin: 10px 5px;
}

.body__img-portada{
    opacity: 85%;
    margin-bottom: 30px;
}

h4{
    font-weight: bold;
}

hr{
    width: 60%; 
    margin-left:20%;
    border: 1px solid $colorWine;
}

.texto{
    height: 26px;
    font-family: $tipografia;
    font-size: 14px;
    margin: 5px;
    border-radius: 5px;
    transition: all 1s;

    &:focus{
        height: 24px;
        font-size: 16px;
    }
}

.link__mail{
    text-decoration: none;
    color: black;
}

/*----Section----*/
section{
    grid-area: "section";
    text-align: center;

    h3{
        color: $colorWine;
        font-weight: bold;
        font-style: normal;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Merienda', cursive;
        margin-top: 15px;
        margin-bottom: 15px;
        animation-name: transparencia;
        animation-iteration-count: 2;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-delay: 0s;
    }

    ol li{
        display: inline;
        background-color: $colorBeige;
    }

    article table{
        letter-spacing: 1.5px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.section__banner{
    background-repeat: no-repeat;
    width: 100%;
}

/*----Fin Section----*/

/* Tienda de productos */

#listadoProductos{
    display: grid;
    row-gap: 20px;
}

.listadoProductos__producto{
    justify-content: center;
    overflow: hidden;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    --bs-card-border-color: none;
}

.card-img-top{
    width: 160px;
    align-self: center;
    position:relative;
    z-index: 2;
    &:hover{
        /*background-color: lightgray;*/
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        
        + .card-moreinfo{ 
            width: 5rem;
            height: 2rem;
            display: block;
            transform: translateX(0);
            transition: 2s ease;
            font-size: 16px;
        }
    }
}

.card-img-nostock{
    opacity: 50%;
    width: 160px;
    display: block;
    z-index: 4;
    transform: translateY(-160px);
    position: absolute;
    justify-self: center;
}

.card-moreinfo{
    // width: 10px;
    // height: 10px;
    // font-size: 10px;
	position: absolute;
    z-index: 3;
    top: 80px;
    display: none;
    left: 25%;
    background-color: rgb(80, 80, 80);
    color: white;
    width: 5rem;
    height: 2rem;

    &:hover{
        opacity: 75%;
        display: block;
    }
}

.card-title{
    text-align: center;
}

.card-text{
    font-weight: bold;
    font-size: 16px;
}

.card-cantidad{
    width: 120px;
    display: flex;
    flex-flow: column wrap;
    margin-left: 10%;
    justify-content: center;
    align-self: center;

    label{
        align-self: center;
    }

    input{
        width: 50px;
        text-align: center;
        align-self: center;
        margin: 5px 0px;
    }
}

/* Fin de Tienda de productos */

/* --- Carrousel de imágenes --- */
.carrousel__eventos{
    text-align: center;
}

.carrousel__imagen{
    width: 150px;
    opacity: 70%;
    border-color: white;
    -webkit-box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 7px -4px rgba(0,0,0,0.75);
    border-radius: 4px;
    transition: all 1s;
    
    &:hover{
        opacity: 100%;
        width: 200px;
        border-radius: 16px;
    }
}

.carrousel__imagen-lg{
    width: 450px;
}

/* --- Fin Carrousel de imágenes --- */

/* --- Carrito de compras --- */

#carrito{
    text-align: center;
    width: auto;
    margin-left: 25%;

    th{
      font-size: 16px;
      font-weight: bold;
      background-color: $colorWine;
      color: white;
    }

    tr{
        color: $colorWine;
        height: 20px;
        border-top: 1px solid;
        align-content: center;

        img{
            padding-bottom: 5px;
        }
    }

    .img-nostock{
        opacity: 30%;
    }

    .descripcion{
        width: 300px;
    }

    .colClasica{
        width: 100px;
    }

    .colEliminar{
        width: 30px;
    }
}

#datosCompra{
    display: flex;
    flex-flow: column;
    margin-right: 35%;
    row-gap: 15px;
}

#validarCupon_invalido{
    color: red;
    margin-left: 40%;
    visibility: hidden;
}

.mostrar{
    visibility: visible;
}
/* --- Fin Carrito de compras --- */

/* --- Mas info en Tienda --- */
#mas-info-overlay {
    position: fixed;
    z-index: 1;
    height: 250px;
    width: 50%;
    opacity: 0%;
    transform: translateX(350px);
    transition: 2s ease-out;
    background-color: $colorBeige;
    padding: 10px;
    border-radius: 8px;
}

#mas-info-overlay.open {
    opacity: 100%;
    z-index: 10;
    word-wrap: break-word;
}

.mas-info {
    position: fixed;
}

#close-btn {
    position: fixed;
    font-size: 1.5rem;
    float: right;
    margin: 0px 300px;
    color: black;
    cursor: pointer;
    z-index: 11;
}

.masInfo_Titulo{
    text-align: left;
}

.masInfo_texto{
    text-align: justify;
    text-justify: inter-word;
    padding: 20px;
}