/* --- Botones --- */
.boton-envio{
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-bottom: 25px;

    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        border-style: solid;
    }
}

.boton-addcart{
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    color: black;

    &:hover{
        background-color: black;
        color: white;
        border-color: black;
        border-style: solid;
    }
}

.boton-buscar{
    width: auto;
    height: 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding-bottom: 25px;

    &:hover{
        background-color: grey;
        color: white;
        border-color: black;
    }
}

/* --- Fin Botones --- */