@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@100;200&display=swap');
@import "colors";
@import "buttons";
@import "media";
@import "header";
@import "body";
@import "forms";
@import "footer";
@import "destacados";

*{
    margin: 0px;
    padding: 0px;
}

/* --- Keyframes --- */
@keyframes transparencia {
    0%{
        opacity: 85%;
        font-size: 18px;
    }
    50%{
        opacity: 55%;
        font-size: 20px;
    }
    100%{
        opacity: 85%;
        font-size: 18px;
    }
}