@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat:wght@100;200&display=swap");
/* --- Botones --- */
.boton, .boton-miembro, .boton-buscar, .boton-addcart, .boton-envio {
  height: 25px;
  text-align: center;
  padding: 0px;
  vertical-align: middle;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 14px;
}
.boton:hover, .boton-miembro:hover, .boton-buscar:hover, .boton-addcart:hover, .boton-envio:hover {
  background-color: black;
  color: white;
  border-color: black;
  border-style: solid;
}

.boton-envio {
  width: auto;
  height: 30px;
  padding: 0px 5px;
}

.boton-addcart {
  width: 120px;
}
.boton-addcart:visited {
  background-color: white;
  color: black;
  border-style: none;
}
.boton-addcart:active {
  background-color: gray;
  border-style: none;
}
.boton-addcart:hover {
  background-color: black;
  color: white;
}

.boton-buscar {
  width: 100px;
  margin-top: 5px;
}
.boton-buscar:hover {
  background-color: grey;
  color: white;
  border-color: black;
}

.boton-miembro {
  width: auto;
  height: 40px;
  font-size: 18px;
  padding: 0px 15px;
  background-color: rgb(204, 115, 115);
}
.boton-miembro:active {
  background-color: white;
  color: black;
}

/* --- Fin Botones --- */
header {
  grid-area: "header";
  background-color: rgb(234, 210, 172);
  top: 1px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: auto;
}

/*----Inicio diseño del header-----*/
#header__logo {
  text-align: center;
}

.header__item {
  width: 30px;
  margin: 0px 5px;
}

.header__item-mobile {
  filter: invert(100%);
  transform: scale(1.2);
}

.navbar {
  padding: 0px;
}

.navbar-toggler {
  border-radius: 0%;
  padding: 5px;
  margin: 3px;
  background-color: white;
  border-radius: 20%;
}

#menubar {
  text-align: center;
  padding-top: 1px;
  background-color: black;
}

.menubar__link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 0px 0px 0px 10px;
}
.menubar__link:hover {
  color: white;
}

/*-----Fin del diseño del header-----*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  display: inline;
  color: white;
  margin: 10px 5px;
}

.body__img-portada {
  opacity: 85%;
  margin-bottom: 30px;
}

h4 {
  font-weight: bold;
}

hr {
  width: 60%;
  margin-left: 20%;
  border: 1px solid #451C17;
}

.texto {
  height: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  transition: all 1s;
}
.texto:focus {
  height: 24px;
  font-size: 16px;
}

.link__mail {
  text-decoration: none;
  color: black;
}

/*----Section----*/
section {
  grid-area: "section";
  text-align: center;
}
section h3 {
  color: #451C17;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Merienda", cursive;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
section ol li {
  display: inline;
  background-color: rgb(234, 210, 172);
}
section article table {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-align: center;
}

.section__banner {
  background-repeat: no-repeat;
  width: 100%;
}

/*----Fin Section----*/
/* Tienda de productos */
#listadoProductos {
  display: grid;
  row-gap: 20px;
}

.listadoProductos__producto {
  justify-content: center;
  overflow: hidden;
}

.card {
  border: none;
}

.card-img-top:hover {
  /*background-color: lightgray;*/
  transform: scale(1.1, 1.1);
}

.card-title {
  text-align: center;
}

.card-text {
  font-weight: bold;
  font-size: 16px;
}

/* Fin de Tienda de productos */
/* --- Carrousel de imágenes --- */
.carrousel__eventos {
  text-align: center;
}

.carrousel__imagen {
  width: 150px;
  opacity: 70%;
  border-color: white;
  box-shadow: 10px 10px 7px -4px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: all 1s;
}
.carrousel__imagen:hover {
  opacity: 100%;
  width: 200px;
  border-radius: 16px;
}

.carrousel__imagen-lg {
  width: 450px;
}

/* --- Fin Carrousel de imágenes --- */
/* --- Generar tienda --- */
/* --- Fin Tienda --- */
/* ---Mobile--- */
@media screen and (min-width: 320px) {
  #main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-area: "header" "section" "footer";
  }
  header {
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
  }
  #header__completo {
    align-items: center;
  }
  #header__logo {
    width: 60%;
  }
  .header__buttons {
    display: none;
  }
  section {
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column;
  }
  .footer__contenido {
    text-align: left;
  }
  .footer__contenido__news,
#footer__emailLabel {
    text-align: left;
  }
  #eventos__small {
    display: block;
  }
  #menubar {
    height: auto;
  }
  .menubar__link-login {
    display: block;
  }
  .header__item-mobile {
    display: block;
  }
  .body__img-portada {
    width: 60%;
    margin-left: 25px;
  }
  #eventos {
    display: none;
  }
  .eventos__fecha {
    width: 30px;
    font-size: 16px;
  }
  .eventos__descripcion {
    width: auto;
    font-size: 18px;
  }
  .productosDestacados__nombre {
    width: 100px;
    font-size: 12px;
  }
  #listadoProductos {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    /*grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: center;*/
    width: 100%;
    margin: 25px 5px;
  }
  #clubDeVinos {
    align-content: center;
  }
  #clubDeVinos__video {
    width: 300px;
  }
  .clubDeVinos__imgBig {
    display: block;
    width: 350px;
  }
  .clubDeVinos__img {
    display: none;
  }
  fieldset #comentarios {
    width: 324px;
  }
  .evento__imgEvento {
    width: 80%;
    transition: width 1s;
  }
  .evento__imgEvento:hover {
    width: 90%;
  }
  .form__textarea {
    width: 280px;
    height: 80px;
  }
  #carrousel__small {
    display: block;
    width: auto;
    margin: 10px 0px;
  }
  #carrousel__large {
    display: none;
    height: 250px;
  }
  .fieldContacto {
    margin-right: 15%;
  }
  .fieldDomicilio .texto {
    width: 90%;
  }
}
/* --- Fin Mobile --- */
/* --- Ipad --- */
@media screen and (min-width: 768px) {
  #listadoProductos {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    /*grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;*/
    margin: 20px 5px;
    width: 100%;
  }
  #clubDeVinos {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .clubDeVinos__img {
    display: inline-block;
    align-items: baseline;
    width: 400px;
  }
  .clubDeVinos__imgBig {
    display: none;
  }
  .fieldContacto {
    margin-right: 30%;
  }
  .fieldDomicilio .texto {
    width: 60%;
  }
}
/* --- Fin Ipad --- */
/* --- Desktop --- */
@media screen and (min-width: 1200px) {
  #main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-area: "header" "section" "footer";
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
  }
  #header__completo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-left: 20%;
    align-items: center;
  }
  #header__logo {
    width: 50%;
  }
  .header__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 25px 10px 0px;
  }
  footer {
    flex-direction: row;
    align-items: center;
  }
  .footer__contenido {
    text-align: center;
  }
  .footer__contenido__datos {
    text-align: left;
  }
  .footer__contenido__news {
    text-align: right;
  }
  #eventos__small,
#menuMobile {
    display: none;
  }
  #eventos,
#menubar {
    display: block;
  }
  .navbar {
    display: flex;
  }
  .navbar-nav {
    margin-left: 25%;
  }
  #menubar {
    display: inline-block;
    height: 45px;
    align-content: center;
    justify-content: center;
  }
  .menubar__link-login {
    display: none;
  }
  .header__item-mobile {
    display: none;
  }
  .eventos__fecha {
    width: 100px;
    font-size: 30px;
  }
  .eventos__descripcion {
    width: 250px;
    font-size: 24px;
  }
  .productosDestacados__nombre {
    width: 170px;
    font-size: 14px;
  }
  #listadoProductos {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    /*grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;*/
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
  }
  #clubDeVinos {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .clubDeVinos__img {
    display: inline-block;
    align-items: baseline;
    width: 450px;
  }
  .clubDeVinos__imgBig {
    display: none;
  }
  .evento__imgEvento {
    width: 20%;
  }
  .evento__imgEvento:hover {
    width: 25%;
  }
  .body__img-portada {
    margin-left: 80px;
    width: 40%;
  }
  .form__textarea {
    width: 450px;
    height: 100px;
  }
  #carrousel__small {
    display: none;
  }
  #carrousel__large {
    display: block;
  }
  .fieldContacto {
    margin-right: 30%;
  }
  .fieldDomicilio .texto {
    width: 60%;
  }
  .productosDestacados__stars {
    margin-left: 35px;
  }
}
/* --- Fin Desktop --- */
@media (max-width: 768px) and (orientation: landscape) {
  #header__logo {
    width: 15%;
    margin-top: 10px;
  }
  .fieldContacto {
    margin-right: auto;
  }
  .clubDeVinos__img {
    display: inline-block;
    align-items: baseline;
    width: 450px;
  }
  .clubDeVinos__imgBig {
    display: none;
  }
  #carrousel__small {
    display: block;
    width: 70%;
    margin: auto;
  }
  #carrousel__large {
    display: none;
  }
  #listadoProductos {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    /*grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;*/
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li {
  display: inline;
  color: white;
  margin: 10px 5px;
}

.body__img-portada {
  opacity: 85%;
  margin-bottom: 30px;
}

h4 {
  font-weight: bold;
}

hr {
  width: 60%;
  margin-left: 20%;
  border: 1px solid #451C17;
}

.texto {
  height: 26px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  transition: all 1s;
}
.texto:focus {
  height: 24px;
  font-size: 16px;
}

.link__mail {
  text-decoration: none;
  color: black;
}

/*----Section----*/
section {
  grid-area: "section";
  text-align: center;
}
section h3 {
  color: #451C17;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Merienda", cursive;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-animation-name: transparencia;
          animation-name: transparencia;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
section ol li {
  display: inline;
  background-color: rgb(234, 210, 172);
}
section article table {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-align: center;
}

.section__banner {
  background-repeat: no-repeat;
  width: 100%;
}

/*----Fin Section----*/
/* Tienda de productos */
#listadoProductos {
  display: grid;
  row-gap: 20px;
}

.listadoProductos__producto {
  justify-content: center;
  overflow: hidden;
}

.card {
  border: none;
}

.card-img-top:hover {
  /*background-color: lightgray;*/
  transform: scale(1.1, 1.1);
}

.card-title {
  text-align: center;
}

.card-text {
  font-weight: bold;
  font-size: 16px;
}

/* Fin de Tienda de productos */
/* --- Carrousel de imágenes --- */
.carrousel__eventos {
  text-align: center;
}

.carrousel__imagen {
  width: 150px;
  opacity: 70%;
  border-color: white;
  box-shadow: 10px 10px 7px -4px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: all 1s;
}
.carrousel__imagen:hover {
  opacity: 100%;
  width: 200px;
  border-radius: 16px;
}

.carrousel__imagen-lg {
  width: 450px;
}

/* --- Fin Carrousel de imágenes --- */
/* --- Formulario --- */
fieldset {
  line-height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  padding: 0px 5px 5px 5px;
}
fieldset select option {
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

legend {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  float: none;
}

.formContacto {
  display: flex;
  margin-bottom: 15px;
}

.form__textarea {
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.basicForm {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "label input";
  justify-content: space-evenly;
}

.fieldDomicilio {
  grid-template-rows: repeat(7, auto);
}

.fieldDatosPersonales {
  grid-template-rows: repeat(3, auto);
}

.fieldContacto {
  border: none;
}

label {
  grid-column: 1;
  text-align: right;
}

input .texto {
  grid-area: input;
}
input .boton-envio {
  grid-area: submit;
}

/* --- Fin diseño formulario ---*/
/*----Inicio diseño de footer----*/
footer {
  grid-area: "footer";
  background-color: rgb(234, 210, 172);
  padding: 5px 20px;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
footer h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.footer__item {
  height: 30px;
  margin: 0px 5px;
}

.footer__contenido {
  margin: 10px 0px;
}

/* --- Fin de diseño de footer --- */
/* Prodcuctos destacados: index */
#productosDestacados {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productosDestacados td {
  text-align: center;
}

.productosDestacados__nombre {
  vertical-align: bottom;
  height: auto;
}

.productosDestacados__stars {
  height: 20px;
  display: none;
}

.productosDestacados__image {
  width: 80%;
  transition: width 0.5s;
  padding: 5px;
}
.productosDestacados__image:hover {
  width: 90%;
  -webkit-animation: transparencia 1s;
          animation: transparencia 1s;
}
.productosDestacados__image:hover + .productosDestacados__stars {
  display: block;
  -webkit-animation: ver_puntuacion 1.5s;
          animation: ver_puntuacion 1.5s;
}

/* Eventos destacados: index */
#proximosEventos {
  display: flex;
  justify-content: center;
}

#eventos,
#eventos__small {
  font-weight: bold;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

#eventos__small {
  border-spacing: 1px 15px;
}

.eventos__row {
  border-spacing: 3px;
}

.eventos__row-1 {
  background-color: rgb(234, 210, 172);
  color: black;
  cursor: pointer;
}
.eventos__row-1:hover {
  background-color: #bda09e;
}

.eventos__row-2 {
  background-color: #451C17;
  color: white;
  cursor: pointer;
}
.eventos__row-2:hover {
  background-color: #bda09e;
}

.eventos__fecha {
  width: 100px;
  border-color: white;
  transition: all 1s;
}

.eventos__descripcion {
  width: 250px;
  transition: all 1s;
}

.evento__imgEvento {
  margin-bottom: 15px;
  transition: width 1s;
}

/* Fin eventos destacados*/
/* --- Keyframes --- */
@-webkit-keyframes transparencia {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes transparencia {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 80%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes ver_puntuacion {
  0% {
    height: 0px;
  }
  100% {
    height: 20px;
  }
}
@keyframes ver_puntuacion {
  0% {
    height: 0px;
  }
  100% {
    height: 20px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}/*# sourceMappingURL=styles.css.map */